@import "../../../style/variables.scss";

.rail {
    background-color: rgb(0, 0, 0);
    width: max-content;
    margin: 20px;

    @include HD {
        margin: 13px;
    }
}

.title {
    text-align: left;
    margin-left: 30px;
    font-weight: 500;
    font-size: 25px;

    @include HD {
        margin-left: 20px;
        font-size: 16px;
    }
}
