@import "../../../style/autoprefixer.scss";
@import "../../../style/variables.scss";

.button {
    height: 273px;
    width: 184px;
    padding: 0;
    border: none;
    border-radius: 5px;
    margin-right: 5px;
    background-color: transparent;

    @include HD {
        height: 183px;
        width: 123px;
        margin-right: 3px;
    }
}

.buttonFocus {
    border-radius: 5px;
    background-color: rgba(233, 233, 233, 0.637);
    padding: 0;
    height: 273px;
    width: 184px;
    @include animation(transform 0.5s ease-in-out);
    margin-right: 5px;

    @include HD {
        height: 183px;
        width: 123px;
        margin-right: 3px;
    }
}

.image {
    height: 263px;
    width: 174px;
    border-radius: 5px;

    @include HD {
        height: 176px;
        width: 116px;
        margin-right: 3px;
    }
}
