@import "../../../../style/autoprefixer.scss";
@import "../../../../style/variables.scss";

.mediaInfoBroadcast {
  margin-top: 96px;
  max-width: 745px;
  height: 339px;

  h1 {
    font-size: 48px;
    line-height: 56px;
    font-weight: 700;

    @include HD {
      font-size: 32px;
      line-height: 40px;
    }
  }

  @include HD {
    margin-top: 62px;
    max-width: 500px;
    height: 238px;
  }

  .channelName {
    color: $color-ui-30;
    font-size: 24px;
    font-weight: bold;
    line-height: 1.33;

    @include HD {
      font-size: 16px;
      line-height: 1.5;
    }
  }

  .headline {
    margin-bottom: 16px;
    margin-top: 4px;

    @include HD {
      margin-bottom: 8px;
      margin-top: 0;
    }
  }
}
