@import "../../style/autoprefixer.scss";
@import "../../style/variables.scss";

.icon {
  width: 40px;
  margin-right: 24px;
  transform: translateY(10px);

  @include HD {
    width: calcToHD(40px);
    margin-right: calcToHD(24px);
    transform: translateY(calcToHD(10px));
  }
}
