.horizontalGradient {
  position: absolute;
  height: 250px;
  width: 70vw;
  bottom: 34%;
  right: 0%;
}

.verticalGradient {
  position: absolute;
  top: 0px;
  left: 34%;
  height: 100%;
  width: 570px;

  // @include HD {
  //   width: 470px;
  // }
}

.fullGradient {
  position: absolute;
  top: 0px;
  width: 100%;
}
