@import "../../../style/variables.scss";

.rail {
  background-color: rgb(0, 0, 0);
  width: max-content;
  margin: 20px;
  margin-bottom: 50px;

  @include HD {
    margin: calcToHD(20px);
    margin-bottom: calcToHD(50px);
  }
}

.title {
  text-align: left;
  margin-left: 30px;
  font-weight: 500;
  font-size: 25px;

  @include HD {
    margin-left: calcToHD(30px);
    font-size: calcToHD(25px);
  }
}
